@page
@model EsperiaHelp.Pages.Teacher.DeleteModel

@{
    ViewData["Title"] = "Cancellazione";
}

<h1 class="text-danger">Vuoi davvero rimuovere questo corso?</h1>
<p>Tutti i partecipanti verranno informati</p>

<div>
    <h4>Matematica</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Data
        </dt>
        <dd class="col-sm-10">
            
        </dd>
        <dt class="col-sm-2">
            Inizio corso
        </dt>
        <dd class="col-sm-10">
            
        </dd>
        <dt class="col-sm-2">
            Fine corso
        </dt>
        <dd class="col-sm-10">
            
        </dd>
        <dt class="col-sm-2">
            N. partecipanti
        </dt>
        <dd class="col-sm-10">
            
        </dd>
        <dt class="col-sm-2">
            Aula
        </dt>
        <dd class="col-sm-10">
            
        </dd>
    </dl>
    
    <form method="post">
        <a class="btn btn-danger"><i class="fa fa-remove" style="color: white;"></i></a> |
        <a asp-page="./Index">Torna ai tuoi corsi</a>
    </form>
</div>
