@page
@model EsperiaHelp.Pages.Teacher.EditModel

@{
    ViewData["Title"] = "Modifca";
}

<h1 class="text-danger">Modifica corso</h1>
<p>Tutti i partecipanti verranno informati delle modifiche</p>

<h4>Matematica</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label class="control-label">Data</label>
                <input class="form-control" />
                <span class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Inizio corso</label>
                <input type="time" class="form-control" />
                <span class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Fine corso</label>
                <input type="time" class="form-control" />
                <span class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Aula</label>
                <input class="form-control" />
                <span class="text-danger"></span>
            </div>

            <div class="form-group">
                <a class="btn btn-success"><i class="fas fa-check" style="color: white;"></i></a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Torna ai tuoi corsi</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
