@page
@model EsperiaHelp.Pages.Subjects.IndexModel

@{
    ViewData["Title"] = "Materie";
}

<h1 class="text-danger">Lista delle materie</h1>

<div class="table-responsive mt-5">
    <table class="table table-hover text-center">
        <thead class="bg-danger text-white">
            <tr>
                <th>
                    Materie
                </th>
                <th></th>
            </tr>
        </thead>
        <!--<tbody>
    @foreach (var item in Model.Subject) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>-->
    <tbody>
        <tr>
            <td>
                Matematica
            </td>
            <td>
                <a asp-page="./Edit" class="btn btn-warning"><i class="fa fa-pencil-square-o" style="color: white;"></i></a> |
                <a asp-page="./Delete" class="btn btn-danger"><i class="fa fa-remove" style="color: white;"></i></a>
            </td>
        </tr>
        <tr>
            <td>
                Informatica
            </td>
            <td>
                <a asp-page="./Edit" class="btn btn-warning"><i class="fa fa-pencil-square-o" style="color: white;"></i></a> |
                <a asp-page="./Delete" class="btn btn-danger"><i class="fa fa-remove" style="color: white;"></i></a>
            </td>
        </tr>
        <tr>
            <td>
                Inglese
            </td>
            <td>
                <a asp-page="./Edit" class="btn btn-warning"><i class="fa fa-pencil-square-o" style="color: white;"></i></a> |
                <a asp-page="./Delete" class="btn btn-danger"><i class="fa fa-remove" style="color: white;"></i></a>
            </td>
        </tr>
    </tbody>
    </table>
</div>

<div class="text-center mt-5">
    <p><a asp-page="./Create">Aggiungi una nuova materia</a></p>
</div>