@page
@model EsperiaHelp.Pages.Student.DeleteModel

@{
    ViewData["Title"] = "Iscrizione corso";
}

<h1 class="text-danger">Conferma l'iscrizione al seguente corso</h1>

<div>
    <h4>Matematica</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Data
        </dt>
        <dd class="col-sm-10">
        </dd>
        <dt class="col-sm-2">
            Inizo corso
        </dt>
        <dd class="col-sm-10">
        </dd>
        <dt class="col-sm-2">
            Fine corso
        </dt>
        <dd class="col-sm-10">
        </dd>
        <dt class="col-sm-2">
            N. partecipanti
        </dt>
        <dd class="col-sm-10">
        </dd>
        <dt class="col-sm-2">
            Docente
        </dt>
        <dd class="col-sm-10">
        </dd>
        <dt class="col-sm-2">
            Aula
        </dt>
        <dd class="col-sm-10">
        </dd>
    </dl>
    
    <form method="post">
        <a class="btn btn-success"><i class="fas fa-check" style="color: white;"></i></a> |
        <a asp-page="./Index">Torna ai corsi disponibili</a>
    </form>
</div>
