@page
@model EsperiaHelp.Pages.Classrooms.DeleteModel

@{
    ViewData["Title"] = "Cancellazione";
}

<h1 class="text-danger">Vuoi davvero rimuovere questa aula?</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Aula
        </dt>
        <dd class="col-sm-10">
            
        </dd>
    </dl>
    
    <form method="post">
        <a class="btn btn-danger"><i class="fa fa-remove" style="color: white;"></i></a> |
        <a asp-page="./Index">Torna alla lista delle aule</a>
    </form>
</div>
