@page
@model EsperiaHelp.Pages.DefaultModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Esperia Help</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <style>
       #form_register{
           display: none;
       }
    </style>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Benvenuti in Esperia Help</h1>
    </div>

    <!--Registrazione-->

    <div id="form_register">
        <div class="text-center mt-5">
            <h4>REGISTRATI</h4>
        </div>
        <form class="text-center col-sm-3 border border-info pt-2 pb-2" style="margin: 0 auto;">
            <div class="col-auto">
                <label class="sr-only">Email</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">@@</div>
                    </div>
                    <input type="text" class="form-control" placeholder="Inserisci la tua email">
                </div>
            </div>
            <div class="col-auto">
                <label class="sr-only">Password</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-lock"></i></div>
                    </div>
                    <input type="password" class="form-control" placeholder="Inserisci una password">
                </div>
            </div>
            <div class="col-auto">
                <label class="sr-only">Conferma password</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-lock"></i></div>
                    </div>
                    <input type="password" class="form-control" placeholder="Conferma password">
                </div>
            </div>
            <button type="submit" class="btn btn-danger mt-1">Iscriviti</button>
            <div class="col-auto text-left mt-2">
                <p style="margin: 0;"><a href="#" onclick="hideRegister()">Hai già un account?</a></p>
            </div>
        </form>
    </div>

    <!--Login-->

    <div id="form_login">
        <div class="text-center mt-5">
            <h4>ACCEDI</h4>
        </div>
        <form class="text-center col-sm-3 border border-info pt-2" style="margin: 0 auto;" method="post">
            <div class="col-auto">
                <label class="sr-only">Email</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">@@</div>
                    </div>
                    <input type="text" class="form-control" placeholder="Inserisci la tua email">
                </div>
            </div>
            <div class="col-auto">
                <label class="sr-only">Password</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-lock"></i></div>
                    </div>
                    <input type="password" class="form-control" placeholder="Inserisci una password">
                </div>
            </div>
            <button type="submit" class="btn btn-danger mt-1">Accedi</button>
            <div class="col-auto text-left mt-2">
                <p style="margin: 0;"><a href="#" onclick="hideLogin()">Non hai un account?</a></p>
            </div>
        </form>
    </div>

    <script>
        function hideLogin() {
            $('#form_login').hide();
            $('#form_register').show();
        }

        function hideRegister() {
            $('#form_login').show();
            $('#form_register').hide();
        }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>