@page
@model EsperiaHelp.Pages.Classes.DeleteModel

@{
    ViewData["Title"] = "Cancellazione";
}

<h1 class="text-danger">Vuoi davvero rimuovere questa classe?</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Classe
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Class.Id" />
        <a class="btn btn-danger"><i class="fa fa-remove" style="color: white;"></i></a> |
        <a asp-page="./Index">Torna alla lista delle classi</a>
    </form>
</div>
